.slick-slider {
  z-index: 3;
  @apply bg-white;
}

.slick-list {
  z-index: 2;
}

.slick-dots {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  @apply mt-3;
  @apply pb-2;
  @apply md:mb-12;
  @apply md:border-none;
  @apply md:text-start;
  @apply md:mt-0;
  @apply md:max-w-7xl;
  @apply md:ml-40;
}

@media screen and (max-width: 768px) {
  .slick-dots {
    position: initial !important;
  }
}
@media screen and (min-width: 768px) {
  .slick-dots {
    @apply w-1/2;
    @apply z-50;
  }
}

.slick-dots div {
  @apply mt-3;
}
.slick-dots .slick-active {
  @apply mb-[1px];
  @apply md:mb-1;
}
.slick-dots .slick-active div {
  @apply bg-transparent;
  @apply border-2 border-warning;
  @apply w-[10px];
  @apply h-[10px];
  @apply md:w-[14px];
  @apply md:h-[14px];
  @apply mb-3;
}

.slick-slider .slick-prev:before {
  content: none;
}

.slick-slider .slick-next:before {
  content: none;
}

.slick-slider .slick-prev {
  @apply z-[3];
  @apply left-5;
}

.slick-slider .slick-next {
  @apply z-[3];

  @apply right-5;
}

.slick-list.dragging,
.slick-list.draggable:active:hover {
  cursor: grabbing;
}
.slick-slider .slick-disabled {
  @apply opacity-0;
}
